-
  var advantages = [
    {
      title: 'Token Contract',
      description: 'Create your own token for any purpose.',
      img: `
        <svg width="40" height="49" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M20.019 8.968C9.235 8.968.494 17.71.494 28.493c0 10.784 8.741 19.526 19.525 19.526 10.784 0 19.525-8.742 19.525-19.526 0-10.783-8.741-19.525-19.525-19.525Zm10.25 33.193A17.089 17.089 0 0 1 4.76 20.804a.814.814 0 1 1 1.451.733 15.296 15.296 0 0 0-1.649 6.956A15.457 15.457 0 0 0 29.294 40.86a.814.814 0 1 1 .976 1.302Zm1.205-14.895L27.91 30.88c-.222.23-.32.552-.266.868l.847 5.125a2.59 2.59 0 0 1-1.047 2.558 2.397 2.397 0 0 1-2.557.151l-4.49-2.454a.774.774 0 0 0-.756 0l-4.49 2.454a2.4 2.4 0 0 1-2.557-.151 2.59 2.59 0 0 1-1.047-2.558l.846-5.125a1 1 0 0 0-.263-.866l-3.566-3.616a2.617 2.617 0 0 1-.611-2.68 2.494 2.494 0 0 1 1.987-1.708l4.97-.75a.866.866 0 0 0 .642-.499l2.24-4.718a2.44 2.44 0 0 1 4.453 0l2.24 4.718a.866.866 0 0 0 .642.498l4.97.751a2.493 2.493 0 0 1 1.988 1.709c.319.937.083 1.974-.611 2.68Zm3.782 8.964a.814.814 0 0 1-1.45-.737 15.3 15.3 0 0 0 1.67-7 15.458 15.458 0 0 0-24.732-12.366.813.813 0 1 1-.976-1.301 17.089 17.089 0 0 1 25.49 21.404h-.002Z"
            fill="#000"
          />
          <path
            d="m29.854 24.49-4.97-.75a2.487 2.487 0 0 1-1.871-1.41l-2.24-4.719a.818.818 0 0 0-1.514 0l-2.24 4.719a2.487 2.487 0 0 1-1.872 1.41l-4.97.75a.868.868 0 0 0-.686.61 1 1 0 0 0 .225 1.023l3.566 3.614c.586.601.85 1.446.711 2.273l-.846 5.126c-.07.369.08.744.381.966.245.18.572.2.836.05l4.49-2.454a2.405 2.405 0 0 1 2.316 0l4.49 2.455a.77.77 0 0 0 .836-.05.976.976 0 0 0 .382-.967l-.846-5.126c-.14-.83.124-1.676.712-2.277l3.565-3.614c.261-.271.348-.667.225-1.023a.868.868 0 0 0-.68-.606ZM19.205.832v4.882a.814.814 0 1 0 1.627 0V.832a.814.814 0 1 0-1.627 0ZM24.9.832v5.695a.814.814 0 1 0 1.627 0V.832a.814.814 0 1 0-1.627 0ZM30.595 8.968a.814.814 0 1 0 1.627 0V5.714a.814.814 0 1 0-1.627 0v3.254ZM31.409 3.273c.45 0 .813-.364.813-.813V.832a.814.814 0 1 0-1.627 0V2.46c0 .449.364.813.814.813ZM37.104 4.087a.814.814 0 0 0-.814.813v10.088c.596.712 1.14 1.465 1.627 2.254V4.9a.814.814 0 0 0-.813-.813ZM13.51.832v5.695a.814.814 0 1 0 1.628 0V.832a.814.814 0 1 0-1.627 0ZM8.629 4.9a.814.814 0 0 0-.814.814v3.254a.814.814 0 1 0 1.628 0V5.714a.814.814 0 0 0-.814-.814ZM9.443.832a.814.814 0 1 0-1.628 0V2.46a.814.814 0 1 0 1.628 0V.832ZM2.12 4.9v12.342a19.326 19.326 0 0 1 1.628-2.254V4.9a.814.814 0 1 0-1.627 0Z"
            fill="#000"
          />
        </svg>`
    },
    {
      title: 'Crowdsale Contract',
      description: 'Crowdsale smart contract for token distribution.',
      img: `
        <svg width="49" height="49" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#crowdsale-g)" fill="#000">
            <path
              d="m32.871 38.256 8.914-8.914a9.36 9.36 0 0 1-1.808-4.76c-1.204 1.716-4.358 6.382-4.622 6.718a7.343 7.343 0 0 1-1.838 1.672c.436 1.787.164 3.672-.646 5.284ZM31.086 12.525c1.11.764 2.147 2.078 2.646 3.603.9 2.751.05 5.944-2.376 7.886a7.258 7.258 0 0 1 2.604 4.364c4.928-7.187 4.966-7.4 7.523-9.985l-12.14-12.14a9.358 9.358 0 0 1-4.759 1.808c1.341.94 3.29 2.257 6.502 4.464ZM26.388 39.938c.468 0 1.228-.35 1.237-.35 2.813-1.24 4.162-4.585 2.67-7.164 1.921-2.378.849-5.911-1.941-6.907a4.397 4.397 0 0 0-3.057-2.776 4.398 4.398 0 0 0-2.777-3.058c-1.137-3.16-5.407-4.034-7.625-1.209-.615.783-4.694 7.07-6.448 9.15-.453.538-.784.902-1.892 2.021l12.14 12.14a9.383 9.383 0 0 1 5.62-1.847h2.073Z"/><path d="M8.061 23.454c1.065-1.518 4.4-6.433 4.622-6.716 3.253-4.144 9.44-3.485 11.942.83a7.188 7.188 0 0 1 2.844 3 7.19 7.19 0 0 1 1.92 1.412c2.307-1.623 2.636-5.152.175-7.085-.09-.07-3.354-2.302-3.46-2.374-3.187-2.179-4.537-3.103-5.69-4.074-.733-.617-1.302-1.181-2.02-1.892L6.252 18.695a9.36 9.36 0 0 1 1.808 4.759ZM43.7 31.404 31.638 43.468c.977.977 2.24 2.243 3.905 3.907.549.55 1.44.55 1.989 0L47.607 37.3c.549-.549.55-1.44 0-1.989l-3.906-3.906ZM4.57 31.637.662 35.542c-.549.55-.549 1.44 0 1.989L10.74 47.607c.548.549 1.44.55 1.988 0l3.906-3.907L4.57 31.637ZM4.337 16.634 16.4 4.57 12.496.662c-.55-.549-1.44-.549-1.989 0L.431 10.74a1.407 1.407 0 0 0 0 1.988l3.906 3.907ZM43.468 16.4l3.907-3.904c.55-.55.55-1.44 0-1.989L37.3.431a1.407 1.407 0 0 0-1.989 0l-3.906 3.906 12.064 12.064Z"
            />
          </g>
          <defs>
            <clipPath id="crowdsale-g">
              <path fill="#fff" transform="translate(.019 .019)" d="M0 0h48v48H0z"/>
            </clipPath>
          </defs>
        </svg>`,
    },
    {
      title: 'Will Contract',
      description: 'Transfers person’s savings to his family or friends in the event of his sudden illness or death.',
      img: `
        <svg width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#will-contract-g)" fill="#000">
            <path
              d="m21.045 32.884-5.363-13.43-1.919 5.767H2.853c2.924 4.55 7.995 8.894 14.397 14.36 1.83 1.562 3.778 3.224 5.825 5.019l.925.812.926-.812c2.046-1.795 3.993-3.457 5.824-5.02 6.402-5.465 11.473-9.81 14.397-14.358H24.869l-3.824 7.662Z"
            />
            <path
              d="M35.35 2.677c-5.76.02-9.427 3.955-11.35 7.564-1.913-3.587-5.565-7.564-11.253-7.564h-.096C5.96 2.731.358 8.451.017 15.7c-.113 2.412.335 4.604 1.234 6.705h10.485l3.707-11.14L21.33 26.01l1.8-3.607H46.75c.9-2.1 1.347-4.293 1.233-6.705-.34-7.248-5.94-12.968-12.633-13.022Z"
            />
          </g>
          <defs>
            <clipPath id="will-contract-g">
            <path fill="#fff" d="M0 0h48v48H0z"/>
            </clipPath>
          </defs>
        </svg>`,
    },
    {
      title: 'Lost Key Contract',
      description: 'Provides digital assets transfer in case of a private key loss.',
      img: `
        <svg width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#lost-key-contract-clipPath)" fill="#000">
            <path d="M14.156 36.75h-2.812a1.407 1.407 0 0 0 0 2.813h2.812a1.407 1.407 0 0 0 0-2.813ZM38.062 11.438H35.25v5.624h2.812v-5.625ZM38.062 19.875H35.25V25.5h2.812v-5.625Z" />
            <path
              d="M39.469 3h-5.625a7.04 7.04 0 0 0-7.032 7.031v16.875a7.04 7.04 0 0 0 7.032 7.032h1.406v8.437a2.816 2.816 0 0 1-2.813 2.813 2.816 2.816 0 0 1-2.812-2.813A5.63 5.63 0 0 0 24 36.75v-4.219a7.04 7.04 0 0 0-7.031-7.031H8.53A7.04 7.04 0 0 0 1.5 32.531v5.625C1.5 43.584 5.916 48 11.344 48h2.812c4.946 0 9.012-3.68 9.702-8.438H24a2.816 2.816 0 0 1 2.813 2.813A5.63 5.63 0 0 0 32.438 48a5.63 5.63 0 0 0 5.624-5.625v-8.438h1.407a7.04 7.04 0 0 0 7.031-7.03V10.03A7.04 7.04 0 0 0 39.469 3ZM14.156 42.375h-2.812a4.223 4.223 0 0 1-4.219-4.219 4.223 4.223 0 0 1 4.219-4.218h2.812a4.223 4.223 0 0 1 4.219 4.218 4.223 4.223 0 0 1-4.219 4.219Zm26.719-15.469c0 .777-.629 1.407-1.406 1.407h-5.625a1.406 1.406 0 0 1-1.407-1.407V10.031c0-.777.63-1.406 1.407-1.406h5.625c.777 0 1.406.629 1.406 1.406v16.875Z"
            />
            <path
              d="M17.758 3.055 13.611.243a1.407 1.407 0 0 0-1.9.3L7.42 6.068a1.407 1.407 0 0 0 .116 1.857l1.818 1.818-1.818 1.818c-.55.55-.55 1.44 0 1.989l1.818 1.818-1.818 1.818c-.264.264-.412.621-.412.994v4.508h11.25V4.218c0-.467-.23-.902-.617-1.163Z"
            />
          </g>
          <defs>
            <clipPath id="lost-key-contract-clipPath">
              <path fill="#fff" d="M0 0h48v48H0z"/>
              </clipPath>
          </defs>
        </svg>`,
    },
    {
      title: 'Wedding Contract',
      description: 'Smart contract for spouses planning their future together.',
      img: `
        <svg width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#wedding-contract-clipPath)" fill="#000">
            <path
              d="M14.063 0h2.812v5.625h-2.813V0ZM20.097 4.82l2.812-2.812 1.988 1.989-2.812 2.812-1.988-1.989ZM6.036 3.995l1.988-1.988 2.812 2.812-1.988 1.988-2.812-2.812ZM17.023 42.252a9.87 9.87 0 0 1-1.554.123c-5.428 0-9.844-4.416-9.844-9.844 0-5.428 4.416-9.843 9.844-9.843 5.416 0 9.844 4.406 9.844 9.843 0 .47-.033.933-.098 1.386.932 1.356 1.527 3.592 4.207 4.918l.145.071a15.414 15.414 0 0 0 1.37-6.375c0-7.143-4.828-13.105-11.326-14.907l4.877-2.927-4.048-6.072h-9.975l-3.769 6.118 4.68 2.868C4.82 19.405 0 25.405 0 32.53 0 41.075 6.925 48 15.469 48c2.032 0 3.974-.392 5.751-1.105-2.655-2.09-3.89-4.252-4.197-4.643Z"
            />
            <path
              d="M32.531 17.063c-2.032 0-3.974.391-5.751 1.105 2.655 2.09 3.89 4.252 4.197 4.642a9.882 9.882 0 0 1 1.554-.122c5.428 0 9.844 4.415 9.844 9.843s-4.416 9.844-9.844 9.844c-5.418 0-9.843-4.408-9.843-9.844 0-.47.032-.933.097-1.385-.932-1.356-1.527-3.593-4.207-4.919l-.145-.07a15.414 15.414 0 0 0-1.37 6.374C17.063 41.101 24.014 48 32.53 48 41.075 48 48 41.075 48 32.531c0-8.543-6.925-15.468-15.469-15.468Z"
            />
          </g>
          <defs>
            <clipPath id="wedding-contract-clipPath">
              <path fill="#fff" d="M0 0h48v48H0z"/>
            </clipPath>
          </defs>
        </svg>`,
    },
    {
      title: 'Airdrop contract',
      description: 'Distribution of tokens among hundreds or thousands of users. ',
      img: `
        <svg width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#airdrop-contract-clipPath)" fill="#000">
            <path
              d="m45.296 19.063.004-.086c0-8.489-6.355-15.694-15.092-18.111.83 1.142 1.565 2.544 2.19 4.186 1.232 3.235 2.028 7.425 2.253 11.748a7.306 7.306 0 0 1 2.544-.449c2.059 0 3.92.831 4.852 2.076l-14.465 8.585 4.081-7.251c.155-.228.24-.512.24-.794C31.833 9.79 28.977.028 23.819 0h-.03c-5.167.011-8.028 9.78-8.097 18.967 0 .28.083.562.236.788l4.095 7.323-14.56-8.53c.904-1.3 2.83-2.196 4.937-2.196.907 0 1.776.161 2.544.448.225-4.33 1.022-8.523 2.256-11.76.625-1.638 1.358-3.036 2.188-4.176-3.266.907-6.266 2.51-8.77 4.728-1.988 1.76-3.551 3.806-4.647 6.083a17.068 17.068 0 0 0-1.72 7.395c-.024.58.318 1.123.838 1.348l13.902 8.145h13.49l13.986-8.301c.471-.21.797-.669.83-1.2Zm-26.636-.187c.788-1.49 2.84-2.525 5.137-2.525 2.297 0 4.348 1.034 5.137 2.523l-5.155 9.158-5.12-9.156ZM25.166 36.665v-5.29h-2.782v5.313l1.42-.944 1.362.92Z"
            />
            <path
              d="M34.685 31.376H27.98v7.893c0 .494-.238.97-.656 1.233a1.407 1.407 0 0 1-1.539-.024l-1.994-1.347-2.034 1.353c-.5.333-1.166.315-1.653-.069a1.449 1.449 0 0 1-.533-1.142v-7.897h-6.705c-.777 0-1.407.63-1.407 1.406v13.812c0 .776.63 1.406 1.407 1.406h21.819c.777 0 1.407-.63 1.407-1.407v-13.81c0-.778-.63-1.407-1.407-1.407Z"
            />
          </g>
          <defs>
            <clipPath id="airdrop-contract-clipPath">
              <path fill="#fff" d="M0 0h48v48H0z"/>
            </clipPath>
          </defs>
        </svg>`,
    },
    {
      title: 'Custom Contract',
      description: 'We will develop and deploy any smart contract, just provide us with your requirments.',
      img: `
        <svg width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#custom-contract-clipPath)" fill="#000">
            <path d="M8.5 14.429a1.188 1.188 0 0 0 2.373 0V8.496H8.5v5.933Z" />
            <path d="M7.191 3.752c-1.93.064-3.441 1.693-3.441 3.624v26.037c0 .655.531 1.186 1.187 1.186h1.186V7.31c0-.655.531-1.186 1.187-1.186h3.358a3.567 3.567 0 0 0-3.477-2.371Z" />
            <path
              d="M9.679 17.988a3.544 3.544 0 0 1-1.183-.205v25.28c0 .656.531 1.187 1.187 1.187h23.73c.655 0 1.187-.531 1.187-1.187V17.988H9.679Zm13.055 5.22h5.933a1.187 1.187 0 0 1 0 2.374h-5.933a1.187 1.187 0 0 1 0-2.373Zm0 6.487h5.933a1.186 1.186 0 1 1 0 2.373h-5.933a1.186 1.186 0 1 1 0-2.373Zm0 6.487h5.933a1.186 1.186 0 1 1 0 2.373h-5.933a1.186 1.186 0 1 1 0-2.373ZM13.59 23.525a1.186 1.186 0 0 1 1.678 0l.393.394 1.564-1.564a1.187 1.187 0 0 1 1.678 1.678L16.5 26.436a1.187 1.187 0 0 1-1.678 0l-1.232-1.233a1.187 1.187 0 0 1 0-1.677Zm0 6.473a1.186 1.186 0 0 1 1.678 0l.393.393 1.508-1.508a1.186 1.186 0 1 1 1.678 1.678L16.5 32.908a1.187 1.187 0 0 1-1.678 0l-1.232-1.232a1.187 1.187 0 0 1 0-1.678Zm0 6.5a1.187 1.187 0 0 1 1.678 0l.393.394 1.508-1.509a1.186 1.186 0 1 1 1.678 1.678L16.5 39.41a1.187 1.187 0 0 1-1.678 0l-1.232-1.233a1.187 1.187 0 0 1 0-1.678ZM33.413 3.75H12.055a5.903 5.903 0 0 1 1.191 3.562c-.065 7.132.152 7.298-.204 8.303h22.744c.654 0 1.187-.532 1.187-1.186v-7.12a3.564 3.564 0 0 0-3.56-3.559ZM44.165 22.413l-2.369-5.933c-.397-.994-1.806-.995-2.203 0-2.49 6.303-2.458 5.968-2.458 6.373l.003 14.216h7.112V22.853c0-.15-.029-.3-.085-.44ZM37.138 41.482a2.772 2.772 0 0 0 2.769 2.768h1.574a2.772 2.772 0 0 0 2.769-2.769v-2.039h-7.112v2.04Z"
            />
          </g>
          <defs>
            <clipPath id="custom-contract-clipPath">
              <path fill="#fff" transform="translate(3.75 3.75)" d="M0 0h40.5v40.5H0z"/>
            </clipPath>
          </defs>
        </svg>`,
    },
  ];

section.section.advantages
  div.advantages-circle.advantages-circle--light
    img(src="./images/circle-gradient--light.png")
  div.advantages-circle.advantages-circle--dark
    img(src="./images/circle-gradient--dark.png")
  div.container.advantages-container
    img.advantages-bg.advantages-bg--dark(src="./images/planet-bg--dark.png")
    img.advantages-bg.advantages-bg--light(src="./images/planet-bg--light.png")
    h2.section-title.primary-text-fill.advantages-title Ready to use
    ul.advantages-list
      each item in advantages
        li.advantages-item
          div.advantages-item--img!= item.img

          h4.advantages-item--title.primary-text-fill= item.title
          p.advantages-item--description= item.description