-
  var steps = [
    {
      img: `
        <svg
          width="34"
          height="40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="step-icon-path"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M15.59.037c-.839.214-1.912.718-3.24 1.52C2.349 7.608 2.67 7.4 1.733 8.398 1.145 9.02.689 9.66.417 10.246L0 11.14v17.7l.41.867c.706 1.49 1.975 2.664 4.535 4.197 1.197.717 3.447 2.08 5 3.03 4.717 2.887 5.175 3.08 7.25 3.064 1.632-.013 2.578-.39 5.645-2.254 8.42-5.116 8.227-4.982 8.487-5.899.298-1.046-.163-1.678-2.456-3.373-1.67-1.233-2.483-1.561-3.335-1.346-.344.087-2.127 1.074-4.17 2.307-4.575 2.763-4.173 2.722-7.38.754-.67-.412-2.168-1.314-3.328-2.006-1.262-.752-2.352-1.507-2.713-1.88-.874-.898-.912-1.197-.86-6.772.046-5.067.063-5.183.828-5.945.328-.327 1.98-1.364 6.712-4.216 1.535-.925 1.635-.965 2.438-.965.927 0 .48-.225 4.975 2.505 1.633.991 2.085 1.327 2.085 1.545 0 .209-.29.458-1.15.987-.633.39-1.24.709-1.348.709-.108 0-.805-.369-1.547-.82-.742-.45-1.549-.906-1.792-1.013-.58-.256-1.875-.249-2.475.014-.97.423-4.197 2.442-4.644 2.905-.923.955-.966 1.165-.966 4.727 0 3.558.042 3.767.962 4.727.444.462 3.867 2.613 4.671 2.934.702.28 1.989.215 2.707-.139.887-.435 4.085-2.398 4.2-2.577.245-.379.084-.764-.51-1.223-.336-.26-.713-.473-.838-.474-.125-.002-1.037.487-2.025 1.087s-1.983 1.119-2.21 1.154c-.343.052-.752-.143-2.402-1.143-2.529-1.533-2.437-1.371-2.438-4.317 0-1.553.052-2.33.175-2.642.145-.365.517-.65 2.15-1.646 1.456-.888 2.091-1.204 2.423-1.204.33 0 .926.293 2.255 1.109 2.424 1.49 2.332 1.491 4.935-.115 2.71-1.673 3.329-2.37 3.056-3.45-.188-.744-.912-1.318-4.163-3.298-4.538-2.766-4.486-2.74-5.686-2.814-.568-.035-1.296.01-1.656.1-.803.204-8.87 5.087-9.543 5.778-.594.61-1.189 1.786-1.374 2.718-.192.967-.192 9.903 0 10.87.333 1.679 1.3 2.929 3.079 3.98.522.308 2.104 1.27 3.515 2.138 3.65 2.243 4.005 2.41 5.267 2.48.721.04 1.258-.01 1.738-.158.382-.118 2.186-1.13 4.009-2.246 1.823-1.117 3.406-2.031 3.519-2.031.215 0 1.838 1.107 2.087 1.423.401.51.159.705-4.045 3.27-5.5 3.355-5.469 3.34-6.993 3.338-1.033-.002-1.327-.054-1.925-.346-.627-.305-7.1-4.197-10.216-6.142-1.258-.785-2.044-1.575-2.497-2.51-.608-1.252-.629-1.532-.629-8.631 0-7.232.017-7.435.7-8.759.704-1.36.578-1.271 8.664-6.182 1.941-1.18 3.818-2.265 4.17-2.413.895-.376 2.577-.373 3.48.006.55.23 3.946 2.26 10.443 6.24.67.412 1.474 1.01 1.785 1.332.312.32.63.583.706.582.076 0 .442-.185.813-.408.535-.324.673-.478.673-.752 0-.454-.503-1.13-1.323-1.779-.554-.438-4.82-3.077-10.45-6.465C19.589.24 19.035.058 17.322.011c-.811-.022-1.59-.01-1.732.026Z"
            fill="url(#step-enter-block-gradient)"
          />
          <defs>
            <linearGradient id="step-enter-block-gradient" x1="0" y1="40" x2="33.233" y2="40" gradientUnits="userSpaceOnUse">
              <stop stop-color="#70FF00"/>
              <stop offset="1" stop-color="#D4FB50"/>
            </linearGradient>
          </defs>
        </svg>`,
      name: 'Enter C-Block'
    },
    {
      img: `
        <svg
          width="42"
          height="42"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="step-icon-path"
            d="M42 39.54h-7.465V27.151H7.465V39.54H0V42h42v-2.46Zm-19.77-5.005h-2.46v-2.46h2.46v2.46Z"
            fill="url(#step-fill-form-fields-gradient-a)"
          />
          <path
            class="step-icon-path"
            d="M16.078 8.613c1.48 0 4.922-.359 4.922-3.691h2.46a3.695 3.695 0 0 0 3.692 3.691h1.23v-2.46C28.383 2.687 24.402 0 20.976 0c-2.787 0-4.57 1.072-6.143 2.018-1.494.898-2.783 1.673-4.906 1.673h-1.23v1.275c.012 2.066 1.886 3.647 3.953 3.647h3.43Z"
            fill="url(#step-fill-form-fields-gradient-b)"
          />
          <path
            class="step-icon-path"
            d="M24.691 20.752v-.776a7.487 7.487 0 0 0 3.692-6.44v-2.462h-1.23c-2.016 0-3.793-.988-4.916-2.49-1.253 1.571-3.402 2.49-6.159 2.49h-2.46v2.461a7.487 7.487 0 0 0 3.69 6.441v.776L21 23.212l3.691-2.46Z"
            fill="url(#step-fill-form-fields-gradient-c)"
          />
          <path
            class="step-icon-path"
            d="M28.511 21.163 23.22 24.69h9.547c-.778-1.757-2.34-3.093-4.255-3.528Z"
            fill="url(#step-fill-form-fields-gradient-d)"
          />
          <path
            class="step-icon-path"
            d="M13.489 21.163a6.166 6.166 0 0 0-4.255 3.528h9.547l-5.292-3.528Z"
            fill="url(#step-fill-form-fields-gradient-e)"
          />
          <defs>
            <linearGradient id="step-fill-form-fields-gradient-a" x1="-.299" y1="34.576" x2="42" y2="34.576" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-fill-form-fields-gradient-b" x1="8.555" y1="4.307" x2="28.383" y2="4.307" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-fill-form-fields-gradient-c" x1="13.512" y1="15.898" x2="28.383" y2="15.898" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-fill-form-fields-gradient-d" x1="23.151" y1="22.927" x2="32.766" y2="22.927" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-fill-form-fields-gradient-e" x1="9.166" y1="22.927" x2="18.781" y2="22.927" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            </defs>
          </svg>
      `,
      name: 'Fill in the form fields',
    },
    {
      img: `
        <svg
          width="36"
          height="36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="step-icon-path"
            d="M10.874.188c-.977 0-1.78.803-1.78 1.78v.591h13.658a2.984 2.984 0 0 1 2.968 2.973v6.534h2.375V1.968c0-.977-.807-1.78-1.784-1.78H10.874ZM7.31 3.747c-.976 0-1.779.808-1.779 1.785v6.534h2.374V10.25c0-.282.245-.566.612-.566a2.965 2.965 0 0 0 2.947-2.87c-.013-.445.265-.689.596-.689H18c.338 0 .607.283.592.62a2.955 2.955 0 0 0 2.816 2.933c.397 0 .766.2.747.602v1.787h2.377V5.531c0-.977-.802-1.785-1.779-1.785H7.31ZM3.752 7.311A3.57 3.57 0 0 0 .19 10.875v21.376c0 1.964 1.6 3.563 3.563 3.563H32.25a1.79 1.79 0 0 0 1.779-1.784v-4.155h-8.31c-2.935 0-5.342-2.407-5.342-5.343 0-2.935 2.407-5.342 5.343-5.342h8.309v-4.16c0-.976-.803-1.78-1.78-1.78H3.753a2.358 2.358 0 0 1-2.376-2.375A2.359 2.359 0 0 1 3.752 8.5h.592V7.31h-.592Zm25.53 0v1.187h.592c.339 0 .595.257.597.6v2.964h1.188V9.09a1.799 1.799 0 0 0-1.785-1.78h-.593Zm-16.671.004a4.18 4.18 0 0 1-3.518 3.52v1.232h11.873v-1.233a4.178 4.178 0 0 1-3.521-3.519H12.61ZM25.72 20.378a4.158 4.158 0 0 0-4.155 4.155 4.158 4.158 0 0 0 4.155 4.155h8.309c.976 0 1.785-.804 1.785-1.78v-4.752c0-.976-.809-1.778-1.785-1.778h-8.31Zm0 2.37c.976 0 1.779.808 1.779 1.785 0 .976-.803 1.779-1.78 1.779a1.792 1.792 0 0 1-1.784-1.78c0-.976.808-1.784 1.785-1.784Z"
            fill="url(#step-make-payment-gradient)"
          />
          <defs>
            <linearGradient id="step-make-payment-gradient" x1="-.065" y1="18.001" x2="35.814" y2="18.001" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
          </defs>
        </svg>
      `,
      name: 'Make a payment',
    },
    {
      img: `
        <svg
          width="38"
          height="38"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="step-icon-path"
            d="M36.887 25.042h-1.868v-1.868c-.055-1.475-2.172-1.474-2.227 0v1.868h-1.868c-1.475.055-1.474 2.172 0 2.226h1.868v1.868c.055 1.476 2.173 1.475 2.227 0V27.27h1.868c1.475-.055 1.474-2.173 0-2.227Z"
            fill="url(#step-deploy-contract-gradient-a)"
          />
          <path
            class="step-icon-path"
            d="M26.75 33.985h-.674v-.675c-.055-1.476-2.173-1.475-2.227 0v.675h-.675c-1.476.055-1.475 2.173 0 2.227h.675v.675c.055 1.476 2.172 1.475 2.227 0v-.675h.675c1.475-.055 1.474-2.172 0-2.227Z"
            fill="url(#step-deploy-contract-gradient-b)"
          />
          <path
            class="step-icon-path"
            d="M8.189 11.846c0-.615-.499-1.113-1.114-1.113H5.208V8.865c-.055-1.476-2.173-1.475-2.227 0v1.868H1.113c-1.475.054-1.474 2.172 0 2.226h1.868v1.868c.055 1.476 2.172 1.475 2.227 0V12.96h1.867c.615 0 1.114-.498 1.114-1.113Z"
            fill="url(#step-deploy-contract-gradient-c)"
          />
          <path
            class="step-icon-path"
            d="M11.925 4.016v.675c.054 1.476 2.172 1.475 2.226 0v-.675h.675c1.476-.055 1.475-2.173 0-2.227h-.675v-.675c-.055-1.476-2.172-1.475-2.226 0v.675h-.676c-1.475.055-1.474 2.173 0 2.227h.675Z"
            fill="url(#step-deploy-contract-gradient-d)"
          />
          <path
            class="step-icon-path"
            d="M37.879 18.267c.19-.373.154-.821-.092-1.16l-4.466-6.146 2.348-7.227a1.113 1.113 0 0 0-1.403-1.402L27.04 4.679 20.893.213a1.113 1.113 0 0 0-1.767.9v7.599l-6.147 4.466c-.732.52-.546 1.691.31 1.959l7.227 2.348 2.348 7.226c.268.857 1.44 1.043 1.96.31l4.465-6.146h7.598c.418 0 .802-.235.992-.608Z"
            fill="url(#step-deploy-contract-gradient-e)"
          />
          <path
            class="step-icon-path"
            d="m10.73 32.422 2.544-2.544V19.575l-2.543 2.543v10.304Z"
            fill="url(#step-deploy-contract-gradient-f)"
          />
          <path
            class="step-icon-path"
            d="M15.5 18.197v9.455l4.512-4.512-1.263-3.888-3.249-1.055Z"
            fill="url(#step-deploy-contract-gradient-g)"
          />
          <path
            class="step-icon-path"
            d="M1.067 36.934a3.631 3.631 0 0 0 2.667 1.064v-8.883l-2.667 2.667a3.643 3.643 0 0 0 0 5.152Z"
            fill="url(#step-deploy-contract-gradient-h)"
          />
          <path
            class="step-icon-path"
            d="M5.96 37.167c.09-.073.176-.15.259-.233l2.285-2.286V24.345l-2.543 2.543v10.28Z"
            fill="url(#step-deploy-contract-gradient-i)"
          />
          <defs>
            <linearGradient id="step-deploy-contract-gradient-a" x1="29.76" y1="26.155" x2="37.993" y2="26.155" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-deploy-contract-gradient-b" x1="22.026" y1="35.099" x2="27.857" y2="35.099" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-deploy-contract-gradient-c" x1="-.051" y1="11.846" x2="8.189" y2="11.846" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-deploy-contract-gradient-d" x1="10.102" y1="2.902" x2="15.933" y2="2.902" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-deploy-contract-gradient-e" x1="12.342" y1="12.739" x2="38" y2="12.739" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-deploy-contract-gradient-f" x1="10.713" y1="25.998" x2="13.274" y2="25.998" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-deploy-contract-gradient-g" x1="15.468" y1="22.924" x2="20.012" y2="22.924" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-deploy-contract-gradient-h" x1="-.027" y1="33.557" x2="3.734" y2="33.557" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-deploy-contract-gradient-i" x1="5.943" y1="30.756" x2="8.504" y2="30.756" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
          </defs>
        </svg>
      `,
      name: 'C-Block deploy contract to blockchain',
    },
    {
      img: `
        <svg
          width="38"
          height="38"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="step-icon-path"
            d="M32.55 0v10.698l-2.503 2.504v2.357A3.623 3.623 0 0 1 32.551 19a3.621 3.621 0 0 1-3.617 3.617A3.621 3.621 0 0 1 25.317 19a3.623 3.623 0 0 1 2.504-3.44v-3.28l2.503-2.504V0H25.04v2.957a3.623 3.623 0 0 1 2.503 3.44 3.621 3.621 0 0 1-3.617 3.618 3.621 3.621 0 0 1-3.617-3.617 3.623 3.623 0 0 1 2.504-3.441V0H17.53v9.776l2.503 2.504v3.28A3.623 3.623 0 0 1 22.536 19a3.621 3.621 0 0 1-3.617 3.617A3.621 3.621 0 0 1 15.302 19a3.623 3.623 0 0 1 2.504-3.44v-2.358l-2.504-2.504V0H9.934v32.992H30.13v1.114A3.899 3.899 0 0 0 34.025 38a3.899 3.899 0 0 0 3.894-3.894V0h-5.368ZM20.117 28.918h-2.227v-2.226h2.227v2.226Zm5.007 0h-2.226v-2.226h2.226v2.226Zm5.008 0h-2.227v-2.226h2.227v2.226Z"
            fill="url(#step-get-contract-address-gradient-a)"
          />
          <path
            class="step-icon-path"
            d="M.081 35.22A3.901 3.901 0 0 0 3.813 38h25.493a6.099 6.099 0 0 1-1.3-2.78H.08Z"
            fill="url(#step-get-contract-address-gradient-b)"
          />
          <path
            class="step-icon-path"
            d="M18.919 20.39a1.39 1.39 0 1 0 0-2.78 1.39 1.39 0 0 0 0 2.78Z"
            fill="url(#step-get-contract-address-gradient-c)"
          />
          <path
            class="step-icon-path"
            d="M27.544 19c0 .767.623 1.39 1.39 1.39.767 0 1.39-.623 1.39-1.39 0-.767-.623-1.39-1.39-1.39-.767 0-1.39.623-1.39 1.39Z"
            fill="url(#step-get-contract-address-gradient-d)"
          />
          <path
            class="step-icon-path"
            d="M23.926 7.788a1.39 1.39 0 1 0 0-2.78 1.39 1.39 0 0 0 0 2.78Z"
            fill="url(#step-get-contract-address-gradient-e)"
          />
          <defs>
            <linearGradient id="step-get-contract-address-gradient-a" x1="9.735" y1="19" x2="37.919" y2="19" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-get-contract-address-gradient-b" x1="-.127" y1="36.61" x2="29.306" y2="36.61" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-get-contract-address-gradient-c" x1="17.509" y1="19" x2="20.309" y2="19" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-get-contract-address-gradient-d" x1="27.524" y1="19" x2="30.324" y2="19" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-get-contract-address-gradient-e" x1="22.516" y1="6.398" x2="25.317" y2="6.398" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
          </defs>
        </svg>
      `,
      name: 'Get contract address',
    },
    {
      img: `
        <svg
          width="64"
          height="64"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
        <path
          class="step-icon-path"
          d="M43.512 20.508a2.197 2.197 0 0 0-1.558-.644c-.565 0-1.129.214-1.559.644-.859.86-.859 2.258 0 3.117.86.86 2.258.86 3.117 0 .86-.86.86-2.257 0-3.117Z"
          fill="url(#step-start-using-gradient-a)"
        />
          <path
            class="step-icon-path"
            d="M47.695 3.356C44.923 4.474 41.918 6 39.073 8.075l-22.864 5.591a1.922 1.922 0 0 0-.902 3.229l8.568 8.569a22.938 22.938 0 0 0-1.355 2.955l12.895 12.894c.943-.348 1.928-.8 2.955-1.355l8.272 8.272a1.923 1.923 0 0 0 3.228-.903l5.34-21.835c2.357-3.058 4.054-6.343 5.267-9.353L47.695 3.356Zm-1.462 22.99a6.032 6.032 0 0 1-4.279 1.769c-1.55 0-3.099-.59-4.278-1.77a6.057 6.057 0 0 1 0-8.557 6.058 6.058 0 0 1 8.557 0 6.057 6.057 0 0 1 0 8.557Z"
            fill="url(#step-start-using-gradient-b)"
          />
          <path
            class="step-icon-path"
            d="M61.892 12.113c.077-.255.15-.506.22-.75 1.489-5.228 1.71-9.174 1.719-9.339A1.923 1.923 0 0 0 61.809.002c-.165.01-4.11.23-9.338 1.72-.245.069-.496.143-.75.22l10.171 10.171Z"
            fill="url(#step-start-using-gradient-c)"
          />
          <path
            class="step-icon-path"
            d="m20.207 31.546-3.613 1.535a1.924 1.924 0 0 0-.608 3.13l11.637 11.637a1.924 1.924 0 0 0 3.13-.608l1.535-3.613-12.08-12.081Z"
            fill="url(#step-start-using-gradient-d)"
          />
          <path
            class="step-icon-path"
            d="M18.875 45.25a1.923 1.923 0 0 0-2.72 0L.689 60.718a1.923 1.923 0 1 0 2.72 2.72L18.875 47.97a1.923 1.923 0 0 0 0-2.72Z"
            fill="url(#step-start-using-gradient-e)"
          />
          <path
            class="step-icon-path"
            d="M2.802 51.976c.492 0 .984-.188 1.36-.563l9.077-9.077a1.924 1.924 0 0 0-2.72-2.72l-9.077 9.077a1.924 1.924 0 0 0 1.36 3.283Z"
            fill="url(#step-start-using-gradient-f)"
          />
          <path
            class="step-icon-path"
            d="m21.79 50.886-9.078 9.077a1.924 1.924 0 0 0 2.72 2.72l9.077-9.077a1.923 1.923 0 1 0-2.72-2.72Z"
            fill="url(#step-start-using-gradient-g)"
          />
          <defs>
            <linearGradient id="step-start-using-gradient-a" x1="39.72" y1="22.067" x2="44.157" y2="22.067" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-start-using-gradient-b" x1="14.418" y1="26.075" x2="60.477" y2="26.075" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-start-using-gradient-c" x1="51.634" y1="6.057" x2="63.834" y2="6.057" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-start-using-gradient-d" x1="15.302" y1="39.979" x2="32.288" y2="39.979" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-start-using-gradient-e" x1="-.012" y1="54.344" x2="19.438" y2="54.344" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-start-using-gradient-f" x1=".786" y1="45.514" x2="13.802" y2="45.514" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
            <linearGradient id="step-start-using-gradient-g" x1="12.057" y1="56.785" x2="25.073" y2="56.785" gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B800"/>
              <stop offset="1" stop-color="#F5E30C"/>
            </linearGradient>
          </defs>
        </svg>
      `,
      name: 'Start using it!',
    },
  ];

section.section.steps
  div.container
    h2.section-title.steps-title
      span.primary-text-fill How it works

    ul.steps-list
      each step, index in steps
        li.step-item
          div.step-content
            div.step-img!=step.img
            div.step-arrow--desktop
            p.step-name=step.name
          if index < steps.length - 1
            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="44" class="step-arrow--mobile")
              use(href="#step-mobile-arrow")

    svg(xmlns="http://www.w3.org/2000/svg" width="0" height="0")
      defs
        linearGradient(id="step-arrow-gradient" x1="12" y1="1.71794" x2="12.0005" y2="41.5823" gradientUnits="userSpaceOnUse")
          stop(stop-color="#28B800")
          stop(offset="1" stop-color="#F5E30C")
        path(id="step-mobile-arrow" fill="url(#step-arrow-gradient)" d="M13.5 2C13.5 1.17157 12.8284 0.5 12 0.5C11.1716 0.5 10.5 1.17157 10.5 2L13.5 2ZM10.9393 42.6429C11.5251 43.2287 12.4749 43.2287 13.0607 42.6429L22.6066 33.097C23.1924 32.5112 23.1924 31.5615 22.6066 30.9757C22.0208 30.3899 21.0711 30.3899 20.4853 30.9757L12 39.461L3.51471 30.9757C2.92893 30.3899 1.97918 30.3899 1.39339 30.9757C0.807608 31.5615 0.807608 32.5112 1.3934 33.097L10.9393 42.6429ZM10.5 2L10.5 41.5823L13.5 41.5823L13.5 2L10.5 2Z")
